@model SCIV.Models.Tab_Productos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Mantenimientos.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tab_Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad_Unidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad_Unidades)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
