@model IEnumerable<SCIV.Models.Tab_Productos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Mantenimientos.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            <span>Nombre del Producto</span>
        </th>
        <th>
            <span>Descripcion del producto</span>
        </th>
        <th>
            <span>Precio de Costo</span>
        </th>
        <th>
            <span>Cantidad de Unidades</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Unidades)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Consultar", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Borrar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
