@model SCIV.Models.Tab_Empresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Mantenimientos.cshtml";
}

<h2>Empresas</h2>

<div>
    <h4>Consultar Empresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Cedula Juridica</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula_Juridica)
        </dd>

        <dt>
            <span>Nombre de empresa</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Empresa)
        </dd>

        <dt>
            <span>Contacto</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  /*id = Model.Cedula_Juridica */ }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
